body {
    background-color: rgba(0, 0, 0, 0.1);
}
.search-results-container{
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    background: white !important;
	width:80%;
	vertical-align: baseline;
}
.col-centered{
    float: none;
    margin: 0 auto;
	margin-top:10px;
}
.title-wrapper {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
	padding:10px;
}
.name-and-icon {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100% - 48px);
	color: #0084bf;
	line-height: 20px;
    font-weight: 600;
}
.list-wrapper {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    text-decoration: none;
	padding:10px;
	width:100%;
	margin-left:20px;
}
.lazy-image {
    transition: opacity .5s;
    opacity: 0.9;
}
.job-title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.bio {
    font-family: Source Sans Pro,Helvetica,Arial,sans-serif,Hiragino Kaku Gothic Pro,Meiryo,Hiragino Sans GB W3,Noto Naskh Arabic,Droid Arabic Naskh,Geeza Pro,Simplified Arabic,Noto Sans Thai,Thonburi,Dokchampa,Droid Sans Thai,Droid Sans Fallback,-apple-system,'.SFNSDisplay-Regular',Heiti SC,Microsoft Yahei,Segoe UI;
    line-height: 16px;
    color: rgba(0,0,0,.55);
	font-weight: 400;
    font-size: 14px;
}
.mt20{
	margin-top:20px;
}